BD_HOST=127.0.0.1
BD_PUERTO=5432
BD_USUARIO=
BD_CONTRASENA=
BD_BASE_DATOS=Agentic_DB

API_KEY_OPENAI=
MODELO_CHATGPT=gpt-4o
URL_CHATGPT_COMPLETIONS="https://api.openai.com/v1/chat/completions"

SECRET_KEY=gt54f453g4sf34554
ALGORITHM='HS256'